.App {
  text-align: center;
}

.logo-container {
  text-align: center;
  background-color: #282c34; /* Couleur de fond du logo container */
  padding: 10px; /* Espacement autour du logo */
}

.logo-image {
  width: 20px; /* Ajustez la largeur du logo en fonction de vos besoins */
  height: 20px; /* Ajustez la hauteur du logo en fonction de vos besoins */
  display: block;
  margin: 0 auto; /* Centrez le logo horizontalement */
}


body {
  background-image: url('./components/Q6G4EMF5HBG4XEZXA7SVD37GAI.jpg'); /* Ajoutez le chemin vers votre image de fond */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}









.App-logo {
  height: 8vmin;
  pointer-events: visibleFill;
   width: auto; /* Laissez la largeur automatique pour conserver les proportions */
  height: 40px; /* Ajustez la hauteur en pixels pour correspondre à la taille de la barre de navigation */
  display: block;
  margin: 0 auto;
}

.App-logo:hover {
  transform: scale(1.8); /* Agrandissement de 20% au survol */
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


