
body {

    background-image: url('./components/Q6G4EMF5HBG4XEZXA7SVD37GAI.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Pour fixer l'image en arrière-plan */
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
